<html>
<head>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<h2 id="header">NOT OK</h2>
<div>
  This page was initially loaded at <%= Time.now %>
</div>
<div>
  This page was updated at <span id="time_updated"><%= Time.now%></span>
</div>
<ul id="the_list">
  <li>Initially, the first item</li>
  <li>Another item</li>
  <li id="item_to_remove">This one will be removed.</li>
</ul>
<div id="initially_hidden" style="display: none;">
  This text starts out hidden.
</div>
<%= link_to "Ajax Magic", :url => {:action => "change"} %><br/>

<%= button_to "Create", :action => "change", :remote => true, :form => { "data-type" => "json" } %>


</body>
</html>
