<h1>Your Pragmatic Catalog</h1>
<% for product in @products -%>
    <div>
      <%= image_tag(product.image_url, :size => "100x110", :alt => "Edit Entry") %>
      <h3><%=h product.title %></h3>
      <%= product.description %>    <br />
      <%= number_to_currency(product.price)%>
      <%= button_to "Add to Cart", :action => 'add_to_cart', :id => product %>

      <!--
      <  form_remote_tag :url => {:action => 'add_to_cart', :id => product } do %>
        < submit_tag "Add to cart" %>
      < end %>  -->
    </div>
    <hr />

<% end %>
